---
import { t } from "~/i18n/labels";

import Section from "~/components/Section.astro";

const birth = new Date("1992-03-22");

const location = {
  city: "Bangkok, Thailand",
  href: "https://maps.app.goo.gl/FefycsDeMVdyAu5x6",
};

const contact = [
  // {
  //   href: "tel:+66835299139",
  //   text: "+66 83 529 91339",
  // },
  // {
  //   href: "mailto:ramyariran@gmail.com",
  //   text: "ramyariran@gmail.com",
  // },
  {
    href: "https://linkedin.com/in/rezababaei/",
    text: "Linkedin",
  },
  {
    href: "https://github.com/ramyareye",
    text: "Github",
  },
  {
    href: "https://stackoverflow.com/users/3197080",
    text: "Stackoverflow",
  },
  {
    href: "mailto:ramyariran@gmail.com",
    text: "Email",
  },
];

const currentAge = new Date().getFullYear() - birth.getFullYear();
---

<Section class="contact" title={t("contact")}>
  <ul>
    <li>
      {t("living")}
      <a href={location.href} target="_blank">{location.city}</a>
    </li>

    {
      contact.map(({ href, text }) => (
        <li>
          <a href={href} target="_blank">
            {text}
          </a>
        </li>
      ))
    }
    <li>
      {t("living")}
      <a href={location.href} target="_blank">{location.city}</a>
    </li>
  </ul>
</Section>

<style>
  .contact {
    grid-area: infos;
    padding: 0 1.5em 1.5em;
    color: var(--emphasis);
    font-size: 0.8em;
    font-family: sans-serif;
    line-height: 1.6;
  }

  .contact ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .contact ul a {
    color: var(--primary);
    text-decoration: none;
  }

  .contact ul a:hover {
    color: var(--strong);
  }

  @media screen and (min-width: 768px), print {
    .contact {
      padding: 2em 1em 4em;
    }
  }
</style>
