---
import { cap, t } from '~/i18n/labels';

import Section from "~/components/Section.astro";

// import Link from '~/components/Link.astro'

// function toPercent(rate: number) {
//   return `${(rate * 100).toFixed(2)}%`
// }

const projects= {
    'https://unite.un.org/': 'UNite (Web)',
    'https://apps.apple.com/us/app/wonderfruit/id1065512368?ls=1': 'Wonderfruit (iOS)',
    'https://play.google.com/store/apps/details?id=com.scratchfirst.wonderfruitapp': 'Wonderfruit (Android)',
    'https://www.npmjs.com/package/@amityco/ts-sdk': 'Amity TS SDK',
    'https://upera.tv/': 'Upera',
    'https://anardoni.com/ios/app/gUFrGOKi': 'Upera (iOS)',
    'https://play.google.com/store/apps/details?id=com.techera.upera': 'Upera (Android)',
    'https://anardoni.com/ios/app/-GKmEN52': 'Ovisit (iOS)',
    'https://play.google.com/store/apps/details?id=com.ovisitapp': 'Ovisit (Android)',
    'https://headstart.work/': 'Headstart',
    'https://komodaa.com/': 'Komodaa',
    'https://houseno4.org/': 'House no4',
    'https://fooladino.com/': 'Fooladino',
    'https://www.npmjs.com/package/react-native-eject': 'React Native Eject (Open Source)',
    'https://github.com/ramyareye/elegant-react-native-presentation': 'React Native Presentation (Talk)'
};

const skillsets = [
  'JavaScript, TypeScript',
  'React, React Native, Expo',
  'Accessibility, XCode, Gradle, Fastlane',
  'Next.js, Astro, Go, PHP, Node.js',
  'CI/CD, Github Actions, Monorepos',
  'AWS, Azure, Database, Jest',
  'DevOps, Linux, Docker, Git, Nginx',
  'Planning, Team Management, Agile'
];


const educations = {
  it: {
    title: 'Software Engineering',
    degree: 'Associate degree',
  },
}

---

<Section class="skillsets" title={t('skills')}>
  <section class="skillset">
    <h3>{t('skills')}</h3>
      <dl>
        {skillsets.map((skill) => (
          <dt>{skill}</dt>
        ))}
      </dl>
  </section>
  <section class="skillset projects">
    <h3>{t('projects')}</h3>
    <dl>
        {Object.entries(projects).map(([name, project]) => (
            <dt>
              <a href={name} target="_blank">
                {/* <Link /> */}
                {project}
              </a>
            </dt>
        ))}
    </dl>
  </section>
  <section class="skillset projects">
    <h3>{t('educations')}</h3>
    <dl>
      {Object.entries(educations).map(([text, { title, degree }]) => (
        <>
          <dt title={cap(title)}>{t(title)} </dt> <small class="margin-left: 5px;">({degree})</small>
        </>
      ))}
    </dl>
  </section>
</Section>

<style>
  .skillsets {
    grid-area: skillsets;
    padding: 2.5em 1.5em;
    border-top: 1px solid #eaeaea;
  }

  .skillset + .skillset {
    margin-top: 1.5em;
  }

  .skillset {
    color: var(--primary);
  }

  .skillset:hover {
    color: var(--strong);
  }

  .skillset h3 {
    margin: 0 0 .5em;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
  }

  .skillset dl {
    display: block;
    align-items: center;
    font-family: 'Raleway', serif;
    font-size: .95em;
    line-height: 1.5em;
  }

  .skillset dt {
    display: flex;
    color: var(--secondary);
    white-space: nowrap;
    font-size: 0.95em;
  }

  .skillset dd {
    position: relative;
    text-align: end;
    display: inline-block;
    overflow: hidden;
    width: 6em;
    height: .5em;
    border-radius: 1em;
    text-indent: 9999em;
  }

  .skillset dd:before,
  .skillset dd:after {
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    height: inherit;
    border-radius: inherit;
    color: inherit;
  }

  .skillset dd:before {
    width: 100%;
    background: var(--light);
  }

  .skillset dd:after {
    width: var(--value, 0);
    background: currentColor;
  }

  .skillset dt a {
    text-decoration: none;
  }

  @media screen and (min-width: 768px), print {
    .skillsets {
      border: none;
    }
  }

  .educations {
    grid-area: educations;
    padding: 2.5em 1.5em;
    border-top: 1px solid var(--border);
  }

  .educations h2 {
    display: block;
    margin: 0 0 .5em;
    color: var(--primary);
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
  }


  .educations dl {
    display: grid;
    grid-template-columns: auto min-content;
    grid-gap: calc(.25em/.9) 0;
    align-items: center;
    color: var(--secondary);
    font-family: 'Arapey', sans-serif;
    font-size: .9em;
  }

  .educations dt {
    display: flex;
    margin-right: .25em;
    white-space: nowrap;
  }

  .educations dt:after {
    flex: 1 1 0%;
    content: '........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................';
    width: 1px;
    padding: 0 .25em;
    overflow: hidden;
    color: var(--light);
  }

  .educations dd {
    white-space: nowrap;
  }

  .educations dd:before,
  .educations dd:after,
  .educations dd:before,
  .educations dd:after {
    display: none;
  }

</style>
